@font-face {
    font-family: "dolce-vita";
    src: url(/fonts/dolce_vita/DolceVita.ttf);
}
@font-face {
    font-family: "dolce-vita-heavy-bold";
    src: url(/fonts/dolce_vita/DolceVitaHeavyBold.ttf)
}
@font-face {
    font-family: "dolce-vita-light";
    src: url(/fonts/dolce_vita/DolceVitaLight.ttf)
}
@font-face {
    font-family: "adamLight";
    src: url(/fonts/Adam/Adam-Light.ttf);
}
@font-face {
    font-family: "adamBold";
    src: url(/fonts/Adam/Adam-Bold.ttf);
}
@font-face {
    font-family: "adamMedium";
    src: url(/fonts/Adam/Adam-Medium.ttf);
}
@font-face {
    font-family: "engraversGothic";
    src: url(/fonts/Engravers_Gothic_BT/engraversGothicBt.ttf);
}